{{ if eq .chezmoi.os "darwin" -}}
Include {{ .chezmoi.homeDir }}/.colima/ssh_config

{{ end -}}
Host aces-desktop-13
  ForwardAgent yes
  User soranagano
  HostName 192.168.0.242
  ServerAliveInterval 60
  ServerAliveCountMax 5
  ProxyCommand ssh aces-ubuntu-2 -W %h:%p

Host aces-desktop-24
  ForwardAgent yes
  User soranagano
  HostName 192.168.0.219
  ServerAliveInterval 60
  ServerAliveCountMax 5
  ProxyCommand ssh aces-ubuntu-2 -W %h:%p

Host aces-ubuntu-2
  Port 11022
  ForwardAgent yes
  User soranagano
  HostName 150.249.250.83

Host tanaka-site
  Port 22
  User tanaka
  HostName phiz.c.u-tokyo.ac.jp
  IdentityFile ~/.ssh/tanaka-site

Host *
  ForwardAgent no
  ServerAliveInterval 60
  ServerAliveCountMax 3
  HashKnownHosts no
  ControlMaster auto
  ControlPath ~/.ssh/master-%r@%n:%p
  ControlPersist 10m
  IdentityFile ~/.ssh/id_ed25519
  RemoteForward [localhost]:2489 [127.0.0.1]:2489
